<h2 class="text-center text-decoration-underline"><ins>Add A Drug Allergy To Patient</ins></h2>

<%= render 'form' %>

<div class="text-center">
        <%= link_to 'Back', (@drug_allergy.patient) , class: "btn btn-danger btn-lg" %>
</div>
