<div class="container-fluid patient-page">
    <div class="grid-container">
        <section class="patient-sidebar">
            <ul>
                <li>Details</li>
                <li>Pre Existing Conditions</li>
                <li>Allergies</li>
            </ul>
        </section>
        <section class="patient-main">
            <div class="patient-details">
                <div class="patient-header">
                    <div class="patient-image">
                        <%= image_tag "logo.png" , class: "logo-img" %>
                        <h5 class="patient-title">patient name</h5>
                        </div>
                </div>
            </div>



        </section>
    </div>

</div>