<div class="container">
    <section class="splash">


        <div class="splash-image">
        </div>

        <div class="splash-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel tincidunt luctus, nunc nisl aliquet nisl, vel aliquet nunc nisl vel nunc. Sed euismod, nisl vel tincidunt luctus, nunc nisl aliquet nisl, vel aliquet nunc nisl vel nunc. Sed euismod, nisl vel tincidunt luctus, nunc nisl aliquet nisl, vel aliquet nunc nisl vel nunc. Sed euismod, nisl vel tincidunt luctus, nunc nisl aliquet nisl, vel aliquet nunc nisl vel nunc. Sed euismod, nisl vel tincidunt luctus, nunc nisl aliquet nisl, vel aliquet nunc nisl vel nunc.</p>
        </div>
        <div class="splash-button">
                <div><%= link_to "Sign Up", new_doctor_registration_path, class: "btn btn-primary sign-up" %></div>
                <div><%= link_to "Log In", new_doctor_session_path, class: "btn btn-primary log-in" %></div>

    </div>
    </section>

</div>
