@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.table {
  width: 300px !important;
}

.patient-image {
  width: 200px !important;
  border-radius: 50% !important;
  height: 200px !important;
}

.conditions-list {
  background-color: #f5f5f5;
}

.conditions-list li {
  list-style: none;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

.patient-code {
  margin-top: -15%;
  margin-left: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
  padding: 10px;
}

.patient-sidebar {
  border-right: 5px solid #ccc;
  height: 100vh;
}

.patient-title {
  margin-left: 1.5rem;
}

.patient-line {
  border-right: 1px solid grey;
  height: 170px;
}

.patient-name {
  margin-left: 2.5rem;
  color: #455257;
}

.patient-bio {
  margin-left: 3rem;
}

.patient-bio h5 {
  color: #283534;
}

.patient-text {
  color: #53cbad;
}

.patient-bio-cont {
  margin-left: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
}

.header {
  color: rgb(32, 143, 32);
}

.header--blue {
  color: rgb(19, 19, 49);
}

.header--purple {
  color: rgb(111, 73, 126);
}

.header--light {
  color: rgb(60, 98, 221);
}

.patient-form {
  font-family: "Dancing Script", cursive;
}

.more-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.medical-history {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  width: 400px;
}

.medical-history:hover {
  transform: scale(1.05);
}

.hide {
  display: none;
}

.image-fluid {
  width: 100% !important;
  height: 100px !important;
  border-radius: 50%;
  max-width: 300px !important;
}

@media screen and (max-width: 500px) {
  .patient-bio-cont {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .patient-line {
    display: none;
  }

  .patient-details {
    display: flex;
    text-align: center;
    font-size: 12px;
    margin-bottom: 1rem;
  }

  .patient-header {
    display: flex;
    flex-direction: column !important;
    text-align: center !important;
    border-right: 1px solid grey !important;
  }

  .more-info {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .patients-info p {
    margin: 0 !important;
  }

  .birthdate p {
    margin: 0 !important;
  }
}
