<h2 class="text-center text-primary text-decoration-underline"><ins>Add A Food Allergy To Patient</ins></h2>
    <%= render 'form' %>

<div class="text-center">
        <%= link_to 'Back', (@food_allergy.patient) , class: "btn btn-danger btn-lg" %>
</div>
